*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Figtree", sans-serif;
}

:root {
    --Yellow: hsl(47, 88%, 63%);

    --White: hsl(0, 0%, 100%);
    
    --Gray : hsl(0, 0%, 42%);

    --black : hsl(0, 0%, 7%);
}
  
body{
    background-color: hsl(47, 88%, 63%);
    min-height: 100vh;
    width: 100%;
    font-family: 'figtree', 'sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    display: block;
}

.card {
    background-color: var(--White);
    max-width: 90%;
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 18px;
    margin: 1rem;
    position: relative;
    border-radius: 1rem;
    outline: 1px solid #000;
    box-shadow: 10px 11px 0 #000;
    cursor: pointer;
}


.card img {
    border-radius: .7rem;
}

.card .learning {
    background-color: var(--Yellow);
    width: fit-content;
    padding: 7px;
    font-weight: bold;
    border-radius: 2px;
}

.card:hover {
    box-shadow: 15px 15px 0 black;
}
.card .date {
    font-weight: bold;
    font-size: 16px;
}

.card h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.card h1 a {
    color: var(--black);
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1;
    text-decoration: none;
}

.card a:hover {
    color: var(--Yellow)
}

.card .description {
    color: var(--Gray);
    font-size: 17px;
}

.card .author {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card .author img {
    width: 40px;
    height: 40px;
}

.card .author .name {
    font-size: 19px;
}

@media (max-width: 375px) {

    .card h1 a {
        font-size: 1.25rem;
    }
}
